@charset "UTF-8";

* {
	font-family: 'Arial','メイリオ', 'ＭＳ Ｐゴシック',
		'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', Sans-serif;
	line-height: 1.4em;
}

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 50px 0 0 0;
	background: #fafafa;
}

.frame {
	width: 976px;
	margin: auto;
	padding: 0;
}

div#header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 50px;
	background: #404040;
	box-shadow: 0px 1px 1px 0px #AAA;
}

div#header h1 {
	float: left;
	margin: 0;
	padding: 0;
}

div#header img {
	margin: 0;
	padding: 0;
	border: 0;
}

div#header ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

div#header ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

div#header ul li a {
	margin: 0;
	padding: 0 1em;
	display: inline-block;
	text-decoration: none;
	line-height: 50px;
	background: #7a7a7a;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 1px #959595;
}

/* メッセージボックス */
.message {
	margin: 1em 0;
	padding: .6em 1em;
}

.message h6 {
	margin: .2em 0 .5em 0;
	font-size: 1.2em;
}

.message p {
	margin: .2em 0;
	font-size: .95em;
}

/* 色分け */
.info {
	border: 1px solid #c6c6c6;
	background: #efefef;
}

.failed {
	border: 1px solid #cc0000;
	background: #ffd2d2;
	text-align: center;
}

.failed h6 {
	color: #cc0000;
}

#file_select #file {
	width: 0;
	height: 0;
	position: absolute;
	top: -100px;
	left: -100px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

#file_select label {
	overflow: hidden;
	padding: 0;
}

#file_button {
	display: inline-block;
	width: 350px;
	height: 80px;
	background-image: url('/img/upload_button.png');
	background-position: left top;
}

#file_button:hover {
	background-position: left bottom;
}

#extra_input {
	position: relative;
	//display: none;
	margin: 0;
}

#filename {
	font-family: monospace;
}

#buttons {
	margin-top: 1em;
	text-align: center;
}

a.button {
	display: inline-block;
	margin: 0 1em;
	padding: .6em 3em;
	border: 1px solid #CCC;
	text-decoration: none;
}

.submit, .submit:visited {
	background: #3197ff;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 -1px 1px #AAA;
}

.submit:hover, .submit:active {
	background: #1eb4ff;
}

.clear, .clear:visited {
	background: #745656;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 -1px 1px #AAA;
}

.clear:hover, .clear:active {
	background: #7f5f5f;
}





#blackout {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

#rule {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 650px;
	height: 400px;
	margin: -200px 0 0 -325px;
	background: #e3e3e3;
	text-align: center;
}

#rule_ajax {
	height: 220px;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid #CCC;
	background: #FFF;
	text-align: left;
}

#rule_ajax h2 {
	margin-top: 0;
	margin-bottom: .2em;
	font-size: 1.25em;
}

#rule_ajax p {
	margin: .3em auto;
	text-indent: .8em;
}

#rule_ajax ol {
	margin: 0;
	padding-left: 4em;
}

#agree_label {
	display: block;
	margin: .6em;
}

#loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
}

#progress_box {
	position: absolute;
	width: 600px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -300px;
	background: #9a9a9a;
}

#progress_bar {
	width: 0;
	height: 100%;
	background: #9ce527;
}

#progress_mes {
	position: absolute;
	width: 600px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -300px;
	font-weight: bold;
	color: #FFF;
	line-height: 40px;
	text-shadow: 0 -1px 1px #AAA;
}


.cls {
	clear: both;
	visibility: hidden;
	height: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
}

#iframe_upload {
	display: none;
}

#alert_legacy {
	display: none;
}

